<div class="main__content">
    <div class="container">
      <p class="main__text--title" *ngIf="titleSection" >{{titleSection}}</p>
      <div class="line__text" *ngIf="titleSection"></div>
    </div>
    <swiper class="swiper-container" [config]="configSwipper">  
      <div *ngFor="let movie of movies.results; let i ='index' " class="swiper-slide swiper-slide--small img-thumbnail img-fluid"
        [routerLink]="['/movie', movie.id, 'home']"
        [ngStyle]="{'background-image': 'url('+( movie | posterImg ) +')' }">
      </div>
    </swiper>
  </div>