.uiNoData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 0;
    .img{
        margin: 20px 0;
        width: 45%;
    }
}

.skeleton_img{
    width: 100%;
    height: 277px;
}
.skeleton_title{
    width: 100%;
    height: 24px;
}
.skeleton_content{
    width: 100%;
    height: 145;
}
.skeleton_btn{
    width: 30%;
    height: 24px;
    margin-left: auto;
    margin-right: 0;
}