<div class="main main__movie pb-5" *ngIf="movie" [ngStyle]="{'background-image': 'url('+( movie | movieImg ) +')' }">

    <div class="container py-5 mb-5 d-flex align-items-center justify-content-center" >
        <div class="row w-100 mb-5">
            <div class="col-12 d-block d-lg-none">
                <h2 class="movie_title my-5" > {{movie.title}} </h2>
            </div>
            <div class="col-9 col-md-5 col-lg-4 mx-auto d-flex align-items-center justify-content-center mb-5">
                <img  class="img-fluid img__details"
                    [src]="movie | posterImg" [alt]="movie.title">
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="movie-title">
                            <p class="movie_title mb-3 d-none d-lg-block" > {{movie.title}}</p>
                            <hr class="d-none d-lg-block m bg-white" >
                        </div>
                        <div class="movie-content my-5">
                            <p class="movie_subtitle mt-5 mt-lg-1" >Sinopsis</p>
                            <p class="movie_text" > {{movie.overview}} </p>
                            <p class="movie_text" > {{movie.tagline}} </p>
                            <p class="movie_text" > Calificacion: <br> {{movie.vote_average}} / 10  </p>
                        </div>
                        <button class="btn btn-primary btn__back d-block ml-auto my-5" type="button" [routerLink]="['/'+returnTo, search ]" routerLinkActive="router-link-active"  >
                            Regresar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main__movie pb-5" *ngIf="!movie">

    <div class="container py-5 mb-5 d-flex align-items-center justify-content-center" >
        <div class="row w-100 mb-5 ">
            <div class="col-12 d-block d-lg-none skeleton">
                <h2 class="movie_title my-5"> {{movie.title}} </h2>
            </div>
            <div class="col-9 col-md-5 col-lg-4 mx-auto d-flex align-items-center justify-content-center mb-5">
                <div class="skeleton skeleton-img">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="movie-title">
                            <p class="movie_title mb-3 d-none d-lg-block skeleton skeleton-title"></p>
                            <hr class="d-none d-lg-block m bg-white" >
                        </div>
                        <div class="movie-content my-5">
                            <p class="movie_subtitle mt-5 mt-lg-1 skeleton skeleton-info" ></p>
                            <p class="movie_text skeleton skeleton-info" ></p>
                            <p class="movie_text skeleton skeleton-info" ></p>
                            <p class="movie_text skeleton skeleton-info" ></p>
                            <p class="movie_text skeleton skeleton-info" ></p>
                            <p class="movie_text skeleton skeleton-info" ></p>
                            <p class="movie_text skeleton skeleton-info" ></p>
                            <p class="movie_text skeleton skeleton-info" ></p>
                        </div>
                        <button class="btn btn-primary btn__back d-block ml-auto my-5 skeleton skeleton-btn" type="button" [routerLink]="['/'+returnTo, search ]" routerLinkActive="router-link-active"  >
                
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main__swip">
    <div class="">
        <app-posters
            *ngIf="populares"
            [titleSection]="''"
            [configSwipper]="configMainA"
            [movies]="populares">
        </app-posters>
    </div>
</div>