<footer class="footer">
    <div class="row">
        <div class="col-12 col-md-2">
            <!-- <p class="footer__text">
                MovieApp &nbsp; - &nbsp; aaronch  &nbsp; - &nbsp;  2020
            </p> -->
            <div class="navbar__brand">
                <div class="logo logo__logo-brand">
                    MOVIE APP
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-4">
            <p class="footer__text" >
                El propósito de este proyecto es poner en práctica algunos conceptos de Angular, utilizando la API themoviedb.org.
                <br>
                <a href="https://www.themoviedb.org/" target="_blank" rel="noopener noreferrer">
                    <img class="w-25 mt-3" src="assets\img\movieDB.svg" alt="">
                </a>
            </p>
        </div>
    </div>
</footer>