<footer class="footer">
    <div class="row">
        <div class="col-12 col-md-2">
            <!-- <p class="footer__text">
                MovieApp &nbsp; - &nbsp; aaronch  &nbsp; - &nbsp;  2020
            </p> -->
            <div class="navbar__brand">
                <div class="logo logo__logo-brand">
                    MOVIE APP
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-4">
            <p class="footer__text" >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, eius! Possimus dolore nihil reprehenderit architecto debitis porro magni quibusdam. Animi recusandae ratione cum eos impedit odio sapiente possimus! Error, dolorum.
                <br>
            </p>
        </div>
    </div>
</footer>